In [1]:
import numpy as np
import pandas as pd

# Import my scratch implementation
from tree import decision_tree

In [2]:
import warnings
warnings.filterwarnings("ignore")

### Helping Implementation

In [3]:
def split_data(df, percentage=.75):
    df = df.sample(frac=1)
    T = int(len(df)*percentage)
    return df[:T], df[T:]

### Read Data

In [4]:
df = pd.read_csv('../Datasets/iris_dataset.csv')

In [5]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [6]:
df_train, df_test = split_data(df, .90)

In [7]:
X_train = df_train.loc[:, df_train.columns != 'target'].values
y_train = df_train['target'].values

X_test = df_test.loc[:, df_test.columns != 'target'].values
y_test = df_test['target'].values

### Algorithm

In [8]:
tree = decision_tree(max_depth=2)

In [9]:
tree.fit(X_train, y_train)

### Evaluation

In [10]:
pre = tree.predict(X_test)

In [11]:
print('Accuracy : %s'%str(sum(y_test==pre)/len(pre)))

Accuracy : 0.9333333333333333